.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #111827;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 12px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	height: 50%;
	width: 50%;
  background-color: cyan;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.ground {
  height: 30%;
  width: 100%;
  background-color: rgb(250, 190, 61);
  position: relative;
}

.sun {
  height: 35px;
  width: 35px;
  background-color: yellow;
  position: absolute;
  top: 70%;
  left: 40%;
  transform: rotate(-62deg) translateY(-135px);
  align-self: center;
  border-radius: 50%;
  animation: spin 3s cubic-bezier(0.59, 0.65, 0.54, 0.13) infinite;
}

.pyramid {
  height: 80px;
  width: 50%;
  background-color: white;
  margin-inline: auto;
  position: absolute;
  top: -64.2%;
  left: 38%;
    transform: translate(-50%,-50%);
    clip-path: polygon(83% 8%, 0% 100%, 100% 100%);
  z-index: -2;
  animation: light 3s linear infinite;
}

.pyramid2 {
  height: 80px;
  width: 50%;
  background-color: rgb(179, 177, 177);
  margin-inline: auto;
  position: absolute;
  top: -64.2%;
  left: 79%;
  transform: translate(-50%,-50%);
  clip-path: polygon(0% 8%, 0% 100%, 65% 100%);
  z-index: -2;
  animation: opposite 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(-65deg) translateY(-135px);
  }
  100% {
    transform: rotate(65deg) translateY(-135px);
  }
}

@keyframes light {
  from {
    background-color: #fff;
  }

  to {
    background-color: rgb(196, 194, 194);
  }
}

@keyframes opposite {
  from {
    background-color: rgb(155, 152, 152);
  }

  to {
    background-color: #fff;
  }
}